* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: cyan;
    text-align: center;
    flex-direction: column;
    align-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
}
.solved-easy {
    width: 90px;
    height: 90px;
    background-color: white;
    margin: auto;
}

.solved-easy ul li {
    width: 28px;
    height: 28px;
    margin: 1px;
}
.solved-normal {
    width: 120px;
    height: 120px;
    background-color: white;
    margin: auto;
}
.solved-normal ul li {
    width: 28px;
    height: 28px;
    margin: 1px;
}

.container-easy {
    width: 425px;
    height: 425px;
    margin: auto;
    background-color:white;
}

.container-easy ul li {
    width: 81px;
    height: 81px;
    margin: 2px;
}

.container-normal {
    width:510px;
    height:510px;
    margin: auto;
    background-color: white;
}
.container-normal ul li {
    width: 81px;
    height:81px;
    margin: 2px;
}


.score-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#stopwatch {
    width: 60%;
    height: 50px;
}
#moves-area {
    width: 40%;
    height: 50px;
}
button {
    margin-left: 70%;
    margin-right: 20%;
    height:50px;
    background-color: red;
}
.white {
    background: transparent;
    z-index: 0;
}

.red {
    background-color: red;
    z-index: 1;
    box-shadow:3px 3px 2px darkgray;

}
.blue {
    background-color: blue;
    z-index: 1;
    box-shadow:3px 3px 2px darkgray;
}
.yellow {
    background-color: yellow;
    z-index: 1;
    box-shadow:3px 3px 2px darkgray;
}
.green {
    background-color: green;
    z-index: 1;
    box-shadow:3px 3px 2px darkgray;
}
.orange {
    background-color: orange;
    z-index: 1;
    box-shadow:3px 3px 2px darkgray;
}
.violet {
    background-color: violet;
    z-index: 1;
    box-shadow:3px 3px 2px darkgray;
}
#high-score {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.high-score-heading {
    background-color: black;
    color: white;
    list-style: none;
    padding: 10px;
}
#high-score li {
    list-style: none;
    background-color: white;
    padding: 5px;
    color: black;

}
@media (max-width: 480px){
    .solved-easy {
        height: 15vw;
        width: 15vw;
        background-color: white;
        margin: auto;
    }
    
    .solved-easy ul li {
        width: 4.5vw;
        height: 4.55vw;
        margin: 0.25vw;
    }
    .solved-normal {
        width: 16vw;
        height: 16vw;
        background-color: white;
        margin: auto;
    }
    .solved-normal ul li {
        width: 3.5vw;
        height: 3.5vw;
        margin: 0.25vw;
    }

    .container-easy {
        width: 60vw;
        height: 60vw;
        margin: auto;
        background-color:white;
    }

    .container-easy ul li {
        width: 11vw;
        height: 11vw;
        margin: 0.5vw;
    }

    .container-normal {
        width:60vw;
        height:60vw;
        margin: auto;
        background-color: white;
    }
    .container-normal ul li {
        width: 9vw;
        height:9vw;
        margin: 0.5vw;
    }
    .violet {
        box-shadow: 0.25vw 0.25vw  darkgrey;
    }
    .red {
        box-shadow: 0.25vw 0.25vw  darkgrey;
    }
    .blue {
        box-shadow: 0.25vw 0.25vw  darkgrey;
    }
    .green {
        box-shadow: 0.25vw 0.25vw  darkgrey;
    }
    .yellow {
        box-shadow: 0.25vw 0.25vw  darkgrey;
    }
    .orange {
        box-shadow: 0.25vw 0.25vw  darkgrey;
    }
    button {
        height : 5vw;
    }
}
